{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<section class="reservations section" id="reservations">
          <div class="title">
              <h1>Réservations</h1>
          </div>

     
    </section>
{% endblock %}
