{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}
 <!--prestations-->

     <section class="section theme" id="prestations">
         <div class="title">
             <h1>Prestations</h1>
         </div>

   <div class="prestations-center container">
    <div class="prestations" data-aos="fade-down" data-aos-duration="2000">
        <span><i class="fas fa-cut"></i></span>
        <h2>Coupe Femme</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, modi maiores! Molestiae culpa quidem ipsa ab fuga consequatur, repellendus ullam doloribus omnis hic aliquid quae consequuntur tenetur iure necessitatibus dignissimos.</p>
       </div>

       <div class="prestations" data-aos="fade-up" data-aos-duration="2000">
           <span><i class="fas fa-cut"></i></span>
           <h2>Coupe Homme</h2>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, modi maiores! Molestiae culpa quidem ipsa ab fuga consequatur, repellendus ullam doloribus omnis hic aliquid quae consequuntur tenetur iure necessitatibus dignissimos.</p>
          </div>

          <div class="prestations" data-aos="fade-down" data-aos-duration="2000">
           <span><i class="fas fa-cut"></i></span>
           <h2>Coupe Enfant</h2>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, modi maiores! Molestiae culpa quidem ipsa ab fuga consequatur, repellendus ullam doloribus omnis hic aliquid quae consequuntur tenetur iure necessitatibus dignissimos.</p>
          </div>
   </div>
     </section>
{% endblock %}
